implementations/python/Lift.pyc
implementations/objc/lift/lift.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/lift.xcscheme
implementations/objc/lift/lift.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/xcschememanagement.plist
implementations/objc/lift/lift.xcodeproj/project.xcworkspace/xcuserdata/gus.xcuserdatad/UserInterfaceState.xcuserstate
